.for_list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.for_img {
  border-radius: 15px;

  width: 60vw;
}
.for_para {
  color: #000000;
  flex-wrap: wrap;
  align-self: flex-start;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0px;
  font-family: 'Roboto';
  width: 140px;
}

@media screen and (min-width: 768px) {
  .for_img {
    width: 230px;
  }
}
